@font-face {
    font-family: 'Geomanist';
    src: url(../fonts/geomanist-regular-webfont.ttf);
}
@font-face {
    font-family: 'Meccanica';
    src: url(../fonts/meccanica-regular.otf);
}
@font-face {
    font-family: 'Neue';
    src: url(../fonts/NeueMachina-Regular.otf);
}
@font-face {
    font-family: 'Phage';
    src: url(../fonts/Phage\ Regular.otf);
}
@font-face {
    font-family: 'NeueU';
    src: url(../fonts/NeueMachina-Ultrabold.otf);
}
@font-face {
    font-family: 'JustR';
    src: url(../fonts/JustR.otf);
}
@keyframes abajo-anim{
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(0);
    }
    75%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes girar{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
main{
    color: rgb(0, 0, 0);
}
body.oscuro main{
    color: rgb(255, 255, 255);
}
main{
    padding-top: 80px;
}
.galeria-contenido{
    font-family: 'NeueU';
    font-style: italic;
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 50px;
    padding: 20px;
}
.galeria-contenido h1{
    text-align: center;
}
.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    gap: 15px;
}
.galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: all 0.3s;
}
.galeria img:nth-child(3n){
    grid-row: span 2;
}
.galeria img:hover{
    transform: scale(1.02);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}
body.oscuro .galeria img:hover{
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.5);
}