<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="../css/style-nav-footer.css">
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <link rel="stylesheet" href="../css/style-contactanos.css">
    <script src="../js/general.js" defer></script>
    <script src="../js/script-contactanos.js" defer></script>
    <title>Contáctanos!</title>
</head>
<body>
    <canvas class="estrellitas"></canvas>
    <header>
        <nav>
            <a href="../index.html"><span>L3RightMC</span></a>
            <div class="campo-busqueda">
                
            </div>
            <ul>
                <li class="campo-busqueda">
                    <input type="text" class="busqueda" placeholder="Escribe para buscar...">
                    <button class="boton-buscar"><i class="fa-duotone fa-solid fa-magnifying-glass"></i></button>
                </li>
                <li><a href="../index.html">Home</a></li>
                <li><a href="galeria.html">Galería</a></li>
                <li><a href="presupuesto.html">Me apetece comprar...</a></li>
                <li><a class="actual" href="contactanos.html">Contactános!</a></li>
            </ul>
            <button class="tema"><img src="../img/tema/claro.png" alt="modo claro"></button>   
        </nav>
    </header>
    <main>
        <section>
            <div class="contactar">
                <div class="datos">
                    <h1>Centro de Servicio:</h1>
                    <table>
                        <tr>
                            <td>Dirección:</td>
                            <td>Pl. del Descubridor Diego de Ordás, 3, Chamberí, 28003 Madrid</td>
                        </tr>
                        <tr>
                            <td>Teléfono:</td>
                            <td>+34 915804260</td>
                        </tr>
                        <tr>
                            <td>Fax:</td>
                            <td>+34 914514558</td>
                        </tr>
                        <tr>
                            <td>Correo electrónico:</td>
                            <td><a href="">soprte-ayuda@flashmarket.es</a></td>
                        </tr>
                    </table>
                    <button id="calcular-ruta" class="boton-ruta"><i class="fa-sharp-duotone fa-solid fa-flag"></i> Calcular Ruta desde mi ubicación</button>
                </div>
                <div class="mapa">
                    <div id="mapa-interactivo" style="width: 600px; height: 450px;"></div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="lo-esencial">
            <div class="footer-logo">
                <h1>FlashMarket</h1>
                <p>Compra con cabeza. Estrena sin gastar</p>
                <div class="redes-sociales">
                    <ul>
                        <li><a href="https://github.com/L3RightMC"><img src="../img/redes/github-logo.png" alt="Github"></a></li>
                        <li><a href="https://www.instagram.com/nev3r._.m1nd/"><img src="../img/redes/instagram-logo.png" alt="Instagram"></a></li>
                        <li><a href="https://x.com/L3rightMC"><img src="../img/redes/x-logo.png" alt="X"></a></li>
                        <li><a href="https://www.facebook.com/L3RightMC"><img src="../img/redes/facebook-logo.png" alt="Facebook"></a></li>
                    </ul>
                </div>
            </div>
            <div class="enlaces">
                <div class="navegar">
                    <h3>Navegar</h3>
                    <ul>
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="galeria.html">Galería</a></li>
                        <li><a href="presupuesto.html">Me apetece comprar...</a></li>
                        <li><a href="contactanos.html">Contáctanos!</a></li>
                    </ul>
                </div>
                <div class="interes">
                    <h3>Enlaces de interés</h3>
                    <ul>
                        <li><a href="">Política de privacidad</a></li>
                        <li><a href="">Uso de cookies</a></li>
                        <li><a href="">Control de su info. personal</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="newsletter-fondo">
            <div class="newsletter">
                <div class="newsletter-titulo">
                    <h2>Tu dosis de tecnoactualidad (¡y ofertones, claro!)</h2>
                    <span>Entérate antes que nadie de las novedades y noticias más TOP del universo tecnológico y recibe ofertas exclusivas.</span>
                </div>
                <div class="newsletter-correo">
                    <form action="get" name="correo-form" class="form">
                        <input type="email" name="correo" class="correo" placeholder="ejemplo@ejemplo.com">
                        <input type="submit" value="Enviar" class="boton-enviar">
                    </form>
                </div>
                <div class="newsletter-img">
                    <img src="../img/qr.png" alt="codigo qr style">
                </div>
            </div>
        </div>
    </footer>
</body>
</html>