<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="../css/style-nav-footer.css">
    <link rel="stylesheet" href="../css/style-galeria.css">
    <script src="../js/script-galeria.js" defer></script>
    <script src="../js/general.js" defer></script>
    <title>Galería - FlashMarket</title>
</head>
<body>
    <canvas class="estrellitas"></canvas>
    <header>
        <nav>
            <a href="index.html"><span>L3RightMC</span></a>
            <div class="campo-busqueda">
                
            </div>
            <ul>
                <li class="campo-busqueda">
                    <input type="text" class="busqueda" placeholder="Escribe para buscar...">
                    <button class="boton-buscar"><i class="fa-duotone fa-solid fa-magnifying-glass"></i></button>
                </li>
                <li><a href="../index.html">Home</a></li>
                <li><a class="actual" href="galeria.html">Galería</a></li>
                <li><a href="presupuesto.html">Me apetece comprar...</a></li>
                <li><a href="contactanos.html">Contactános!</a></li>
            </ul>
            <button class="tema"><img src="../img/tema/claro.png" alt="modo claro"></button>   
        </nav>
    </header>
    <main>
        <div class="galeria-contenido">
            <h1 class="texto-derecha">Nuestras galería lleno de modernismo ◂ </h1>
            <div class="galeria">
                <img src="../img/galeria/galeria-imagen1.png" alt="imagen">
                <img src="../img/galeria/galeria-imagen2.png" alt="imagen">
                <img src="../img/galeria/galeria-imagen4.png" alt="imagen">
                <img src="../img/galeria/galeria-imagen12.png" alt="imagen">
                <img src="../img/galeria/galeria-imagen3.png" alt="imagen">
                <img src="../img/galeria/galeria-imagen6.png" alt="imagen">
                <img src="../img/galeria/galeria-imagen7.png" alt="imagen">
                <img src="../img/galeria/galeria-imagen8.png" alt="imagen">
                <img src="../img/galeria/galeria-imagen9.png" alt="imagen">
                <img src="../img/galeria/galeria-imagen10.png" alt="imagen">
                <img src="../img/galeria/galeria-imagen11.png" alt="imagen">
                <img src="../img/galeria/galeria-imagen5.png" alt="imagen">
                <img src="../img/galeria/galeria-imagen13.png" alt="imagen">
                <img src="../img/galeria/galeria-imagen14.jpg" alt="imagen">
            </div>
            <h1 class="texto-izquierda">Nuestras galería lleno de modernismo ➤ </h1>
        </div>
    </main>
    <footer>
        <div class="lo-esencial">
            <div class="footer-logo">
                <h1>FlashMarket</h1>
                <p>Compra con cabeza. Estrena sin gastar</p>
                <div class="redes-sociales">
                    <ul>
                        <li><a href="https://github.com/L3RightMC"><img src="../img/redes/github-logo.png" alt="Github"></a></li>
                        <li><a href="https://www.instagram.com/nev3r._.m1nd/"><img src="../img/redes/instagram-logo.png" alt="Instagram"></a></li>
                        <li><a href="https://x.com/L3rightMC"><img src="../img/redes/x-logo.png" alt="X"></a></li>
                        <li><a href="https://www.facebook.com/L3RightMC"><img src="../img/redes/facebook-logo.png" alt="Facebook"></a></li>
                    </ul>
                </div>
            </div>
            <div class="enlaces">
                <div class="navegar">
                    <h3>Navegar</h3>
                    <ul>
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="galeria.html">Galería</a></li>
                        <li><a href="presupuesto.html">Me apetece comprar...</a></li>
                        <li><a href="contactanos.html">Contáctanos!</a></li>
                    </ul>
                </div>
                <div class="interes">
                    <h3>Enlaces de interés</h3>
                    <ul>
                        <li><a href="">Política de privacidad</a></li>
                        <li><a href="">Uso de cookies</a></li>
                        <li><a href="">Control de su info. personal</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="newsletter-fondo">
            <div class="newsletter">
                <div class="newsletter-titulo">
                    <h2>Tu dosis de tecnoactualidad (¡y ofertones, claro!)</h2>
                    <span>Entérate antes que nadie de las novedades y noticias más TOP del universo tecnológico y recibe ofertas exclusivas.</span>
                </div>
                <div class="newsletter-correo">
                    <form action="get" name="correo-form" class="form">
                        <input type="email" name="correo" class="correo" placeholder="ejemplo@ejemplo.com">
                        <input type="submit" value="Enviar" class="boton-enviar">
                    </form>
                </div>
                <div class="newsletter-img">
                    <img src="../img/qr.png" alt="codigo qr style">
                </div>
            </div>
        </div>
    </footer>
</body>
</html>